body{
	background: rgb(170, 121, 164);
}

header , .card{
	background: radial-gradient(circle, rgba(218,42,180,1) 22%, rgba(183,31,212,1) 50%);
}

section {
	min-height:100vh;
}

.btn-mail{
	background-color: rgb(154, 195, 231);
}